<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Artificial Intelligence (AI)</title>
    <script type="importmap"></script>

    <!--
        Using the CDN link instead of the bundled Boostrap files that come with
        the template (usually very outdated version).
-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous">

    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />


    <!-- Custom CSS for some unique pages -->
    <link rel=" stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header class="sticky-top">
        <nav class="navbar bg-dark-subtle border-bottom border-light border-3" data-bs-theme="dark">
            <a class="navbar-brand text-dark-emphasis mx-3" asp-area="" asp-controller="Home" asp-action="Index">
                GenAI
            </a>

            <div class="d-flex flex-row justify-content-center ps-5">
                <a class="navbar-brand text-dark-emphasis" asp-area="" asp-controller="Home" asp-action="Index">
                    Home
                </a>
                <a class="navbar-brand text-dark-emphasis" asp-area="" asp-controller="AIImage" asp-action="Index">
                    AI Image
                </a>
                <a class="navbar-brand text-dark-emphasis" asp-area="" asp-controller="Home" asp-action="Contact">
                    Contact
                </a>
            </div>

            <partial name="_LoginPartial" />
        </nav>
    </header>

    <!--
    Rendering contents from relevant 'Views' folders (looks odd in the way
    Microsoft approach it, meh...)
-->
    <div class="container-fluid" id="general-body-element">
        <main role="main" class="text-light">
            @RenderBody()
        </main>
    </div>

    <footer class="sticky-bottom">
        <nav class="navbar bg-dark-subtle border-top border-light border-3" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand text-dark-emphasis" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-brand text-dark-emphasis" asp-area="" asp-controller="AIImage" asp-action="Index">AI
                    Image</a>
                <a class="navbar-brand text-dark-emphasis" asp-area="" asp-controller="Home"
                    asp-action="Contact">Contact</a>
                <i class="fa-brands fa-discord text-dark-emphasis fs-3"></i>
                <i class="fa-brands fa-youtube text-dark-emphasis fs-3"></i>
                <i class="fa-brands fa-instagram text-dark-emphasis fs-3"></i>
                <i class="fa-brands fa-snapchat text-dark-emphasis fs-3"></i>
                <i class="fa-brands fa-x-twitter text-dark-emphasis fs-3"></i>
            </div>

        </nav>
    </footer>

    <!--- Mostly for IE<=7 compatibility -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--
        Using the CDN link instead of the bundled Boostrap files that come with
        the template (usually very outdated version).
-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous"></script>

    <!-- Custom JS for some unique pages -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
