@model WDP_Assessment_3.Models.AIImage

@{
ViewData["Title"] = "Create Page";
}


<div class="d-flex flex-column text-light" id="create-page">
    <div class="d-flex flex-row justify-content-center py-5">
        <h1 class="fw-bold">Upload AI Image</h1>
    </div>

    <div class="d-flex flex-row align-items-center px-3">
        <div class="flex-fill pe-3">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Prompt" class="control-label text-light"></label>
                    <input asp-for="Prompt" class="form-control" />
                    <span asp-validation-for="Prompt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageGenerator" class="control-label text-light"></label>
                    <input asp-for="ImageGenerator" class="form-control" />
                    <span asp-validation-for="ImageGenerator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UploadDate" class="control-label text-light"></label>
                    <input asp-for="UploadDate" class="form-control" />
                    <span asp-validation-for="UploadDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Like" class="control-label text-light"></label>
                    <input asp-for="Like" class="form-control" />
                    <span asp-validation-for="Like" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label text-light"></label>
                    <input asp-for="ImageFile" class="form-control" type="file"
                        aria-describedby="FilenameInstruction" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label text-light">
                        <input class="form-check-input" asp-for="canIncreaseLike" />
                        @Html.DisplayNameFor(model => model.canIncreaseLike)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <!-- Source: https://arstechnica.com/information-technology/2023/05/ibm-pauses-hiring-around-7800-roles-that-could-be-replaced-by-ai/ -->
        <img src="/img/ibm.webp" alt="IBM Logo" />
    </div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
