@model IEnumerable<WDP_Assessment_3.Models.AIImage>

    @{
    ViewData["Title"] = "Index";
    }

    <div class="d-flex flex-column align-items-center" id="body-prompt">
        <h2>Upload AI Images</h2>
        <p>
            Please
            <a asp-area="Identity" asp-page="/Account/Login">login</a>
            or
            <a asp-area="Identity" asp-page="/Account/Register">register</a>
            to upload your AI images
        </p>
    </div>
