@model IEnumerable<WDP_Assessment_3.Models.AIImage>
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager

        @{
        ViewData["Title"] = "AI Image Home Page";
        }

        @if (SignInManager.IsSignedIn(User))
        {
        <div class="d-flex flex-column align-items-center text-light text-center" id="image-page-body-login">
            <h1 class="fw-bold">List of AI Images</h1>
            <a asp-area="" asp-controller="AIImage" asp-action="Create" class="text-decoration-none text-info fw-bold">
                Click here to upload a new AI image
            </a>
        </div>

        @foreach (var item in Model)
        {
        <div class="d-inline-flex flex-row justify-contents-evenly flex-wrap py-5">
            <a asp-action="Details" asp-route-id="@item.Id"
                class="text-info text-center border border-light border-3 rounded-3 p-5 bg-dark">
                @Html.DisplayFor(modelItem => item.ImageGenerator)
            </a>
        </div>
        }
        }
        else
        {
        <div class="d-flex flex-column align-items-center text-light text-center" id="image-page-body-logout">
            <h1 class="fw-bold">Upload AI Images</h1>
            <p class="fw-bold">
                Please
                <a asp-area="Identity" asp-page="/Account/Login" class="text-decoration-none text-info">
                    login
                </a>
                or
                <a asp-area="Identity" asp-page="/Account/Register" class="text-decoration-none text-info">
                    register
                </a>
                to upload your AI images
            </p>
        </div>
        }
