@{
ViewData["Title"] = "Index";
}

<div class="d-flex flex-column align-items-center" id="body-prompt">
    <h2>Upload AI Images</h2>
    <p>Please <a href="#">login</a> or <a href="#">register</a> to upload your AI images</p>
</div>
