@{
ViewData["Title"] = "Contact";
}
<div class="d-flex flex-column align-items-center text-light">
    <h1 class="py-5">@ViewData["Title"] & About</h1>

    <div class="d-flex flex-row pb-5">
        <div class="d-flex flex-column border border-light border-3 rounded-3 bg-dark">
            <h2>Contact Us</h2>
            <hr class="border border-success border-3 rounded-5 w-75 h-auto">
            <p class="text-wrap">
                This website is developed by Bing Tran. To get in contact please
                email
                <a href="mailto:u3295557@uni.canberra.edu.au">
                    u3295557@uni.canberra.edu.au
                </a>
            </p>
        </div>

        <div class="d-flex flex-column border border-light border-3 rounded-3 bg-dark mx-5">
            <h2>About Us</h2>
            <hr class="border border-success border-3 rounded-5 w-75 h-auto">
            <p class="text-wrap">
                This website provides an review on the use of AI in Creative Arts and was created as
                partial fulfillment of the assessment requirements of Web Design and Programming at the
                University of Canberra.
            </p>
            <p class="text-wrap">
                This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                techniques.
            </p>
        </div>

        <div class="d-flex flex-column border border-light border-3 rounded-3 bg-dark">
            <h2>Copyright</h2>
            <hr class="border border-success border-3 rounded-5 w-75 h-auto">
            <p class="text-wrap">
                All images used in this website were downloaded from various link [insert here]
            </p>
            <p class="text-wrap">
                The icons for the footer from font awesome. [insert here]
            </p>
            <p class="text-wrap">
                The Anton font used for headers from Google Fonts. [insert here]
            </p>
        </div>
    </div>
</div>
