@{
ViewData["Title"] = "Contact";
}
<h1 class="text-white text-center">@ViewData["Title"] & About</h1>

<div class="d-flex flex-row justify-content-around">
    <div class="d-flex flex-column align-items-center bg-info border border-light-subtle">
        <h2 class="text-white">Contact Us</h2>
        <hr class="border border-success border-3 rounded-5 w-75 h-auto">
        <p class="text-white">
            This website is developed by Bing Tran
            To get in contact please email <a href="mailto:u3295557@uni.canberra.edu.au">
                u3295557@uni.canberra.edu.au
            </a>
        </p>
    </div>

    <div class="d-flex flex-column align-items-center bg-info border border-light-subtle mx-3">
        <h2 class="text-white">About Us</h2>
        <hr class="border border-success border-3 rounded-5 w-75 h-auto">
        <p class="text-white">
            This website provides an review on the use of AI in Creative Arts and was created as
            partial fulfillment of the assessment requirements of Web Design and Programming at the
            University of Canberra.
        </p>
        <p class="text-white">
            This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
            techniques.
        </p>
    </div>

    <div class="d-flex flex-column align-items-center bg-info border border-light-subtle">
        <h2 class="text-white">Copyright</h2>
        <hr class="border border-success border-3 rounded-5 w-75 h-auto">
        <p class="text-white">
            All images used in this website were downloaded from various link [insert here]
        </p>
        <p class="text-white">
            The icons for the footer from font awesome. [insert here]
        </p>
        <p class="text-white">
            The Anton font used for headers from Google Fonts. [insert here]
        </p>
    </div>
</div>
