@{
ViewData["Title"] = "Home Page";
}

<div class="text-center text-white" id="home-page">
    <section class="header-content">
        <h1>Generative Artificial Intelligence (Gen AI)</h1>
    </section>

    <section class="body-content">
        <p>
            Gen AI is AI-capable of generating text, images, videos, or other data using generative models, often in
            response to prompts. These models learn the patterns and structure of their input training data and then
            generate new data that has similar characteristics.
        </p>
        <p><i>Wikipedia</i></p>
    </section>

    <section class="footer-content">
        <a
            href="http://blv.fih.mybluehost.me/artificial-intelligence/ai-for-nlp/artificial-intelligence-visual-art-redefining-creativity/">
            Image Source: (Sami, 2023)
        </a>

    </section>
</div>
