@{
ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center text-light text-center py-5" id="home-page-body-header">
    <h1 class="fw-bold">Generative Artificial Intelligence (Gen AI)</h1>
    <p class="fw-bold">
        Artificial intelligence visual art, or AI art, is visual artwork
        generated (or enhanced) through the use of artificial intelligence (AI)
        programs. Automated art has been created since ancient times. The field
        of artificial intelligence was founded in the 1950s, and artists began
        to create art with artificial intelligence shortly after the discipline
        was founded.
    </p>
    <a href="https://en.wikipedia.org/wiki/Artificial_intelligence_visual_art"
        class="fst-italic text-decoration-none text-info fw-bold">
        (Wikipedia contributors, 2025)
    </a>
</div>

<div class="d-flex flex-row justify-content-evenly text-light" id="home-page-body-first-middle">
    <div class="d-flex flex-column border border-light border-3 rounded-3 px-3 bg-dark flex-grow-1" id="dalle-info">
        <h2 class="text-center pt-3">DALL-E 3</h2>
        <p class="text-start text-wrap py-3 flex-grow-1">
            In varius curabitur, integer vulputate habitasse nam volutpat tempor
            diam consectetur amet. Vestibulum lorem, consequat lectus, elementum
            massa donec ut.
        </p>
        <a href="https://openai.com/index/dall-e-3/" class="text-end text-decoration-none text-info pb-3">
            Read More
        </a>
    </div>

    <img src="/img/dalle.webp" alt="DALL-E Logo" class="px-3" id="dalle-card" />
    <img src="/img/midjourney.webp" alt="Mid Journey Logo" id="dalle-card" />
</div>

<div class="d-flex flex-row justify-content-evenly text-light py-5" id="home-page-body-second-middle">
    <img src="/img/midjourney.webp" alt="Mid Journey Logo" id="mid-journey-card" />

    <div class="d-flex flex-column border border-light border-3 rounded-3 px-3 bg-dark flex-grow-1 mx-3"
        id="mid-journey-info">
        <h2 class="text-center pt-3">Mid Journey</h2>
        <p class="text-start text-wrap py-3 flex-grow-1">
            In varius curabitur, integer vulputate habitasse nam volutpat tempor
            diam consectetur amet. Vestibulum lorem, consequat lectus, elementum
            massa donec ut.
        </p>
        <a href="https://openai.com/index/dall-e-3/" class="text-end text-decoration-none text-info pb-3">
            Read More
        </a>
    </div>

    <img src="/img/dalle.webp" alt="DALL-E Logo" id="mid-journey-card" />
</div>

<div class="d-flex flex-row justify-content-evenly text-light" id="home-page-body-third-middle">
    <img src="/img/dalle.webp" alt="DALL-E Logo" id="microsoft-designer-card" />
    <img src="/img/midjourney.webp" alt="Mid Journey Logo" class="px-3" id="microsoft-designer-card" />

    <div class="d-flex flex-column border border-light border-3 rounded-3 px-3 bg-dark flex-grow-1"
        id="microsoft-designer-info">
        <h2 class="text-center pt-3">Microsoft Designer</h2>
        <p class="text-start text-wrap py-3 flex-grow-1">
            In varius curabitur, integer vulputate habitasse nam volutpat tempor
            diam consectetur amet. Vestibulum lorem, consequat lectus, elementum
            massa donec ut.
        </p>
        <a href="https://openai.com/index/dall-e-3/" class="text-end text-decoration-none text-info pb-3">
            Read More
        </a>
    </div>
</div>

<div class="d-flex flex-column align-items-center text-light text-center py-5" id="home-page-body-footer">
    <h1 class="fw-bold">Upload AI Images</h1>
    <p class="fw-bold">
        Please
        <a asp-area="Identity" asp-page="/Account/Login" class="text-decoration-none text-info">
            login
        </a>
        or
        <a asp-area="Identity" asp-page="/Account/Register" class="text-decoration-none text-info">
            register
        </a>
        to upload your AI images
    </p>
</div>

<!-- <div class="d-flex flex-row justify-content-evenly align-items-center flex-wrap" id="home-page-body-footer">
    <a
        href="http://blv.fih.mybluehost.me/artificial-intelligence/ai-for-nlp/artificial-intelligence-visual-art-redefining-creativity/">
        Background source: (Sami, 2023)
    </a>

    <a href="https://aipure.ai/it/articles/dall-e-3-review-revolutionizing-ai-image-generation">
        1st AI Image Source: (Dickson, 2024)
    </a>

    <a
        href="https://www.sdpnoticias.com/tecnologia/midjourney-ya-no-es-gratis-esta-seria-la-razon-por-la-que-ahora-pagas-por-usar-inteligencia-artificial/">
        2nd AI Image Source: (Luices, 2023)
    </a>
</div> -->
