html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
    text-align: start;
}

#general-body-element {
    background-image: url('./../img/home-background.webp');
    max-width: 100%;
    height: auto;
}

#header-content,
#body-description,
#body-card,
#footer-content {
    color: white;
}

#header-content,
#footer-content {
    font-family: 'Anton', sans-serif;
}

#header-content {
    font-size: 2.5rem;
}

#body-description,
#body-card {
    font-family: 'Monsterrat', sans-serif;
    padding: 2vw;
}

#body-card #body-info p {
    color: coral;
}

#body-card img {
    width: 100%;
    max-width: 1080px;
    height: auto;
}

#body-card #body-info,
#body-card img {
    border: 0.05rem solid white;
}

#body-card #body-dalle-card p,
#body-card #body-midjourney-card p {
    background-color: coral;
}
